body{
    padding:O;
    margin:0;
    background-color: #f8f8fa;
}

.bg-green{
    background-color: green !important;
}

.bg-blue{
    background-color: #051e3e !important;
}

.error-message{
    color: red;
}