body{
    padding:O;
    margin:0;
    background-color: #f8f8fa;
}

.bg-green{
    background-color: green !important;
    color: #fff;
}

.bg-blue{
    background-color: #051e3e !important;
}

.error-message{
    color: red;
}

.bg-red {
    background-color: red !important;
    color: #fff;
}

.bg-yellow {
    background-color: #FFC93C !important;
    color: #000;
}